#title {
  padding: 2vh 5vw;
  font-family: 'Playfair Display', serif;
  font-size: 7.5vh;
  text-align: center;
  font-weight: 800;
}

.menu-item{
  padding: 1vh 1vw;
}

.menu-item-name{
  font-family: 'Noto Sans', sans-serif;
  font-size: 4vh;
  font-weight: 700;
  text-align: left;
}

.menu-item-price{
  font-family: 'Noto Sans', sans-serif;
  font-size: 3vh;
  text-align: left;
}
